/* ==========================================================================
   Masthead
   ========================================================================== */

.masthead {
  margin-top: 40px;
  @include clearfix;

  @include media($medium) {
    margin-top: 0;
  }

}

/*
   Site logo
   ========================================================================== */

.site-logo {

  img {
    width: 100px;
    height: 50px;
    border: 4px solid $white;
  }
}

/*
   Site title/name
   ========================================================================== */

.site-title {
  margin-bottom: 0;
  @include animation-duration(1s);
  @include animation-delay(.75s);

  a {
    color: $black;
  }
}

/*
   Site description text
   ========================================================================== */

.site-description {
  margin-top: 0;
  font-family: $alt-font;
  @include font-size(16);
  font-weight: 400;
  font-style: italic;
  @include animation-duration(1s);
  @include animation-delay(1s);

  @include media($medium) {
    @include font-size(20);
  }
}
